@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  @apply px-4 sm:max-w-xl md:max-w-2xl lg:max-w-3xl xl:px-0 xl:max-w-5xl 2xl:max-w-6xl mx-auto ;
}
.wrapper-wide {
  @apply px-4 md:max-w-2xl lg:max-w-4xl xl:px-0 xl:max-w-6xl 2xl:w-full 2xl:mx-10 mx-auto ;
}
p{
  @apply text-sm;
}
h2{
  @apply text-2xl;
}
h3{
  @apply text-base;
}
h4{
  @apply text-sm;
}
p{
  @apply text-gray-800;
}